.social-icons{
    text-align: center;
    &__icon {
        background-color: $mainOrange;
        display: inline-block;
        margin: 0 5px 5px 5px;
        padding: 10px 0;
        width:20%;
        height: 60px;
        @mixin atSmall{
            width: 72px;
            margin: 0 5px;
        }

/*
        position: relative;
          .icon{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        
    }
*/
       
    
    }
   
        
    }
    
    
